/* Main container */
.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
/* Title */
h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}
/*
!* Radio buttons *!
.stRadio > div {
    flex-direction: row !important;
}
*/

/* Text inputs and file uploader */
.stTextInput > div > div > input,
.stFileUploader > div > button {
    border-radius: 5px;
    width: 100%;
}

/* Buttons */
.stButton > button {
    width: 150px;
    border-radius: 5px;
    font-weight: bold;
}

/*!* Progress bar *!
.stProgress > div > div > div {
    background-color: #4CAF50;
}*/

/* Expander */
.streamlit-expanderHeader {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Text areas */
.stTextArea > div > div > textarea {
    border-radius: 5px;

}

/* Download buttons */
.stDownloadButton > button {
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    width: 200px;
}

.stDownloadButton > button:hover {
    background-color: #2f6f30;
    border-color: #2f6f30;
    color: white;
    width: 200px;
}

/* Multiselect */
.stMultiSelect > div > div > div {
    border-radius: 5px;
}
