/* Main container */
.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
/* Title */
h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}
/*
!* Radio buttons *!
.stRadio > div {
    flex-direction: row !important;
}
*/

/* Text inputs and file uploader */
.stTextInput > div > div > input,
.stFileUploader > div > button {
    border-radius: 5px;
    width: 100%;
}

/* Buttons */
.stButton > button {
    width: 150px;
    border-radius: 5px;
    font-weight: bold;
}

/*!* Progress bar *!
.stProgress > div > div > div {
    background-color: #4CAF50;
}*/

/* Expander */
.streamlit-expanderHeader {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Text areas */
.stTextArea > div > div > textarea {
    border-radius: 5px;

}

/* Download buttons */
.stDownloadButton > button,
.stDownloadButton > button:hover,
.stDownloadButton > button:active,
.stDownloadButton > button:focus,
.stDownloadButton > button:focus:not(:active) {
    border-radius: 5px;
    background-color: #4CAF50 !important;
    border-color: #4CAF50 !important;
    color: white !important;
    width: 250px;
    transition: all 0.3s ease;
}

.stDownloadButton > button:hover {
    background-color: #45a049 !important;
    border-color: #45a049 !important;
}

.stDownloadButton > button:active {
    background-color: #45a049 !important;
    border-color: #45a049 !important;
    transform: scale(0.98);
}

/* Additional styles to override Streamlit's focus styles */
.stDownloadButton > button:focus::after,
.stDownloadButton > button:focus::before,
.stDownloadButton > button:focus:not(:active)::after,
.stDownloadButton > button:focus:not(:active)::before {
    border-color: transparent !important;
    box-shadow: none !important;
}

/* Multiselect */
.stMultiSelect > div > div > div {
    border-radius: 5px;
}
